// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8939-pm8916.dtsi"
#include "msm8916-modem.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/qcom,pmic-mpp.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/sound/apq8016-lpass.h>
#include <dt-bindings/power/summit,smb347-charger.h>

/ {
	model = "Xiaomi Redmi 3";
	compatible = "xiaomi,ido", "qcom,msm8939", "qcom,msm8939-qrd-skuk", "qcom,qrd";
	chassis-type = "handset";
	qcom,msm-id = <239 0>;
	qcom,board-id = <0x1000b 11>, <0x2000b 11>;
/*
panel {
		compatible = "xiaomi,hx8394fboe";
		qcom,mdss_dsi_ili9881c_tianma_720p_video {
			compatible = "xiaomi,tianma-ili9881c";
		};

		qcom,mdss_dsi_nt35521s_ebbg_720p_video {
			compatible = "xiaomi,nt35521s-ebbg";
		};

		qcom,mdss_dsi_nt35596_1080p_video {
			compatible = "xiaomi,nt35596";
		};

		qcom,mdss_dsi_r63350_1080p_video {
			compatible = "xiaomi,r63350";
		};

		qcom,mdss_dsi_nt35596_1080p_skuk_video {
			compatible = "mdss,nt35596-skuk";
		};

		qcom,mdss_dsi_hx8394f_boe_720p_video {
			compatible = "xiaomi,hx8394f-boe";
		};
	};

*/
	aliases {
		mmc0 = &sdhc_1; /* eMMC */
		mmc1 = &sdhc_2; /* SD card */
		serial0 = &blsp_uart2;
	};

	chosen {
		stdout-path = "serial0";
		
		bootargs = "fbcon=nodefer earlycon=tty0 console=tty0 clk_ignore_unused pd_ignore_unused";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer0: framebuffer@83003000 {
			status= "okay";
			compatible = "simple-framebuffer";
			reg = <0x0 0x83200000 0x0 0x2000000>;
			width = <720>;
			height = <1280>;
			stride = <(720 * 3)>;
			format = "r8g8b8";
		};
		

	};

    reserved-memory {
        /delete-node/ rmtfs@86681000;
		/delete-node/ rfsa@867e0000;
		/delete-node/ tz-apps@86000000;

ramoops@xdfe00000 {
			compatible = "ramoops";
			reg = <0 0xdfe00000 0 0x100000>;
			record-size = <0x4000>;
			console-size = <0x4000>;
};

		cont_splash_mem: framebuffer@83000000 {
			reg = <0x0 0x83000000 0x0 0x2000000>;
			no-map;
		};

		mpss_mem: mpss@86800000 {
			reg = <0x0 0x86800000 0x0 0x5500000>;
			no-map;
		};
        tz-apps@8c400000 {
			reg = <0x0 0x8c400000 0x0 0x1900000>;
			no-map;
		};
	};

    gpio-keys {
		compatible = "gpio-keys";

		pinctrl-names = "default";

		label = "GPIO Buttons";

		volume-up {
			label = "Volume Up";
			gpios = <&tlmm 107 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};
	};

    battery: battery-cell {
        compatible = "simple-battery";
        charge-full-design-microamp-hours = <4000000>;
        over-voltage-threshold-microvolt = <4400000>;
	voltage-max-design-microvolt = <4400000>;
	voltage-min-design-microvolt = <3400000>;
	constant-charge-current-max-microamp = <1800000>;
	operating-range-celsius = <0 45>;
        alert-celsius = <3 42>;
	ocv-capacity-celsius = <25>;
	ocv-capacity-table-0 = <4380000 100>, <4292000 95>,
			<4234000 90>, <4190000 85>, <4158000 80>, <4125000 75>,
			<4090000 70>, <4040000 65>, <3988000 60>, <3950000 55>,
			<3925000 50>, <3880000 45>, <3840000 40>, <3800000 35>,
			<3784000 30>, <3761000 25>, <3743000 20>, <3722000 16>,
			<3702000 13>, <3690000 11>, <3688000 10>, <3687000 9>,
			<3685000 8>, <3683000 7>, <3677000 6>, <3656000 5>,
			<3612000 4>, <3554000 3>, <3462000 2>, <3322000 1>,
			<3000000 0>;
    };

    usb_id: usb-id {
		compatible = "linux,extcon-usb-gpio";
		id-gpio = <&tlmm 110 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_id_default>;
	};

    backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pm8916_pwm 0 100000>;

		brightness-levels = <0 255>;
		num-interpolated-steps = <255>;
		default-brightness-level = <130>;
	};
};

&blsp_dma {
	status = "okay";
};

&blsp_uart2 {
	status = "disabled";
};

&blsp_i2c2 {
	status = "okay";

	tps65132@3e {
		compatible = "ti,tps65132";
		reg = <0x3e>;

		pinctrl-names = "default";
		pinctrl-0 = <&tps65132_en_default>;

		reg_lcd_pos: outp {
			regulator-name = "outp";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-gpios = <&tlmm 97 GPIO_ACTIVE_HIGH>;
			regulator-active-discharge = <1>;
		};

		reg_lcd_neg: outn {
			regulator-name = "outn";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-gpios = <&tlmm 98 GPIO_ACTIVE_HIGH>;
			regulator-active-discharge = <1>;
		};
	};

	bma253@18 {
		compatible = "bosch,bma253";
		reg = <0x18>;
		pinctrl-names = "default","sleep";
		pinctrl-0 = <&bma2x2_int1_default &bma2x2_int2_default>;
		pinctrl-1 = <&bma2x2_int1_sleep &bma2x2_int2_sleep>;
		vdd-supply = <&pm8916_l17>;
		vddio-supply = <&pm8916_l6>;
		interrupt-parent = <&tlmm>;
		interrupts = <112 IRQ_TYPE_EDGE_RISING>;
		mount-matrix = "-1",  "0", "0",
			       "0", "1", "0",
			       "0",  "0", "1";
        };
   
        light-sensor@23 {
		compatible = "liteon,ltr559";
		reg = <0x23>;

		vdd-supply = <&pm8916_l17>;
		vddio-supply = <&pm8916_l6>;
		proximity-near-level = <75>;

		interrupt-parent = <&tlmm>;
		interrupts = <113 IRQ_TYPE_EDGE_FALLING>;

		pinctrl-0 = <&alsps_default>;
		pinctrl-1 = <&alsps_sleep>;
		pinctrl-names = "default","sleep";
	};

	akm@c {
		compatible = "asahi-kasei,ak09911";
		reg = <0x0c>;

		vdd-supply = <&pm8916_l17>;
		vid-supply = <&pm8916_l6>;
		mount-matrix = "0", "1", "0",
			      "-1", "0", "0",
			       "0", "0", "1";
	};
	
	yamaha@2e {
		compatible = "yamaha,yas537";
		reg = <0x2e>;
		vdd-supply = <&pm8916_l17>;
		iovdd-supply = <&pm8916_l6>;
		mount-matrix =  "1",  "0",  "0",
				"1",  "0",  "0",
				"0",  "0", "-1";
	};
	
	mpu6050: mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;

		interrupt-parent = <&tlmm>;
		interrupts = <64 IRQ_TYPE_EDGE_RISING>;
		mount-matrix = "0", "1", "0",
			       "1", "0", "0",
			       "0", "0", "1";
		vdd-supply = <&pm8916_l17>;
		vddio-supply = <&pm8916_l6>;
		pinctrl-0 = <&mpu6050_default>;
		pinctrl-1 = <&mpu6050_sleep>;
		pinctrl-names = "default","sleep";
	};

};

&blsp_i2c4 {

	status = "okay";

        regulator@60 {
            compatible = "fcs,fan53555";
            reg = <0x60>;
            regulator-name = "fan53555";
            pinctrl-names = "default";
	    pinctrl-0 = <&ext_buck_vsel_default>;
            regulator-min-microvolt = <1050000>;
            regulator-max-microvolt = <1350000>;
            enable-gpios = <&tlmm 111 GPIO_ACTIVE_HIGH>;
            regulator-boot-on;
	    regulator-always-on;
        };

	power_supply: charger@57 {
		compatible = "summit,smb358";
		reg = <0x57>;
		interrupt-parent = <&tlmm>;
		interrupts = <62 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&smb_int_default>;	
		summit,enable-charge-control = <SMB3XX_CHG_ENABLE_PIN_ACTIVE_HIGH>;
		summit,soft-compensation-method = <SMB3XX_SOFT_TEMP_COMPENSATE_CURRENT>;
            	//summit,inok-polarity = <SMB3XX_SYSOK_INOK_ACTIVE_LOW>;
            	summit,chip-temperature-threshold-celsius = <100>;
            	//summit,mains-current-limit-microamp = <2000000>;
            	summit,usb-current-limit-microamp = <500000>;
            	summit,enable-usb-charging;
		monitored-battery = <&battery>;

		usb_vbus: usb-vbus {
			regulator-name = "usb_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-min-microamp = <500000>;
			regulator-max-microamp = <500000>;
	};
};
	cw2015@62 {
		compatible = "cellwise,cw2015";
		reg = <0x62>;
		interrupt-parent = <&tlmm>;
		interrupts = <120 IRQ_TYPE_LEVEL_LOW>;
		cellwise,monitor-interval-ms = <1000>;
		vdd-supply = <&pm8916_l17>;
		vcc_i2c-supply = <&pm8916_l6>;
		monitored-battery = <&battery>;
		power-supplies = <&power_supply>;
		};
};

&blsp_i2c5 {
	status = "okay";

	touchscreen@3e {
		/* actually FT5336 */
		compatible = "edt,edt-ft5306";
		reg = <0x3e>;

		interrupt-parent = <&tlmm>;
		interrupts = <13 0x2008>;

		vcc-supply = <&pm8916_l17>;
		iovcc-supply = <&pm8916_l6>;

		reset-gpios = <&tlmm 12 GPIO_ACTIVE_LOW>;

		touchscreen-size-x = <720>;
		touchscreen-size-y = <1280>;

		pinctrl-names = "default";
		pinctrl-0 = <&touchscreen_default>;
	};
};

&blsp_i2c6 {
	status = "okay";

	led-controller@45 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "awinic,aw2013";

		reg = <0x45>;
		vcc-supply = <&pm8916_l16>;
		vio-supply = <&pm8916_l16>;
		led@0 {
			reg = <0>;
			led-max-microamp = <5000>;
			function = LED_FUNCTION_INDICATOR;
			color = <LED_COLOR_ID_RED>;
		};
		led@1 {
			reg = <1>;
			led-max-microamp = <5000>;
			function = LED_FUNCTION_INDICATOR;
			color = <LED_COLOR_ID_GREEN>;
		};
		led@2 {
			reg = <2>;
			led-max-microamp = <5000>;
			function = LED_FUNCTION_INDICATOR;
			color = <LED_COLOR_ID_BLUE>;
		};
	};
};
/*
&mdss_dsi0 {
	status = "okay";
	vdda-supply = <&pm8916_l2>;
	vddio-supply = <&pm8916_l6>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&mdss_default>;
	pinctrl-1 = <&mdss_sleep>;

panel: panel@0 {		
		compatible = "xiaomi,ido-panel";
		reg = <0>;
		
		power-supply = <&pm8916_l17>;
		backlight = <&backlight>;
		vsp-supply = <&reg_lcd_pos>;
		vsn-supply = <&reg_lcd_neg>;
		reset-gpios = <&tlmm 25 GPIO_ACTIVE_LOW>;
ports {
			#address-cells = <1>;
			#size-cells = <0>;

		port@0 {
			reg = <0>;
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
				};
			};
		};
	};
};
&mdss_dsi0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&panel_in>;
};

&mdss_dsi0_phy {
	status = "okay";
	qcom,dsi-phy-regulator-ldo-mode;
};

&gpu {
	status = "okay";
};

&mdss {
	status = "okay";
};
*/
&pm8916_bms {
	status = "okay";
	monitored-battery = <&battery>;
};

&pm8916_pwm {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_out>;
};

&pm8916_resin {
	status = "okay";
	linux,code = <KEY_VOLUMEDOWN>;
};

&pm8916_vib {
	status = "okay";
};

&wcnss {
	status = "okay";
};

&wcnss_mem {
	status = "okay";
};

&wcnss_iris {
	compatible = "qcom,wcn3620";
};

&sdhc_1 {
	status = "okay";
};

&sdhc_2 {
	status = "okay";

	pinctrl-0 = <&sdc2_default &sdc2_cd_default>;
	pinctrl-1 = <&sdc2_sleep &sdc2_cd_default>;
	pinctrl-names = "default", "sleep";

	cd-gpios = <&tlmm 38 GPIO_ACTIVE_HIGH>;
};

&usb {
	status = "okay";
	extcon = <&usb_id>, <&usb_id>;
	vbus-supply = <&usb_vbus>;
};

&usb_hs_phy {
	extcon = <&usb_id>;
	status = "okay";
};


&pm8916_rpm_regulators {
		l1 {
			regulator-min-microvolt = <1225000>;
			regulator-max-microvolt = <1225000>;
		};

		pm8916_l4: l4 {
			regulator-min-microvolt = <2050000>;
			regulator-max-microvolt = <2050000>;
		};

		pm8916_l10: l10 {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <2800000>;
		};

		pm8916_l14: l14 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
		};

		pm8916_l15: l15 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
		};

		pm8916_l16: l16 {
			regulator-min-microvolt = <2600000>;
			regulator-max-microvolt = <2600000>;
		};

		pm8916_l17: l17 {
			regulator-min-microvolt = <2850000>;
			regulator-max-microvolt = <2850000>;
            regulator-always-on;
		};

		pm8916_l18: l18 {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <2700000>;
		};
	};

&tlmm {
	usb_id_default: usb-id-default {
		pins = "gpio110";
		function = "gpio";

		drive-strength = <8>;
		bias-pull-up;
	};

	ext_buck_vsel_default: ext_buck_vsel {
		pins = "gpio111";
		function = "gpio";

		drive-strength = <8>;
		bias-pull-up;
	};

smb_int_default: smb-int-default-state {
		pins = "gpio62";
		function = "gpio";

		drive-strength = <2>;
		bias-pull-up;
	};

    mdss {
		mdss_default: mdss-default {
			pins = "gpio25";
			function = "gpio";

			drive-strength = <8>;
			bias-disable;
		};
		mdss_sleep: mdss-sleep {
			pins = "gpio25";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-down;
		};
	};

    bma2x2_int1_pin {
		bma2x2_int1_default: int1_default {
			pins = "gpio112";
			function = "gpio";

			drive-strength = <6>;
			bias-pull-up;
		};
		bma2x2_int1_sleep: int1_sleep {
			pins = "gpio112";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-down;
		};
	};

	bma2x2_int2_pin {
		bma2x2_int2_default: int2_default {
			pins = "gpio114";
			function = "gpio";

			drive-strength = <6>;
			bias-pull-up;
		};
		bma2x2_int2_sleep: int2_sleep {
			pins = "gpio114";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-down;
		};
	};

    ltr559_int_pin {
		alsps_default: alsps_default {
			pins = "gpio113";
			function = "gpio";

			drive-strength = <6>;
			bias-pull-up;
		};
		alsps_sleep: alsps_sleep {
			pins = "gpio113";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-down;
		};
};

    mpu6050_int_pin {
		mpu6050_default: mpu6050_default {
			pins = "gpio115";
			function = "gpio";

			drive-strength = <6>;
			bias-pull-up;
		};
		mpu6050_sleep: mpu6050_sleep {
			pins = "gpio115";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-down;
		};
	};

touchscreen_default: touchscreen-default {
		pins = "gpio13";
		function = "gpio";

		drive-strength = <2>;
		bias-pull-up;

		reset {
			pins = "gpio12";
			function = "gpio";

			drive-strength = <2>;
			bias-disable;
		};
	};

	tps65132_en_default: tps65132-en-default {
		pins = "gpio97", "gpio98";
		function = "gpio";

		drive-strength = <2>;
		bias-pull-down;
	};

	sdc2_cd_default: sdc2-cd-default-state {
		pins = "gpio38";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};

&pm8916_mpps {
	pwm_out: mpp4 {
		pins = "mpp4";
		function = "digital";

		output-low;
		qcom,dtest = <1>;
		power-source = <PM8916_MPP_VPH>;
	};
};
